.img-container img {
    border-radius: 1rem;
    width: 100%;
}

.bio {
    padding-top: 15px;
    padding-left: 15px;
    font-size: medium;
}

@media screen and (max-width: 768px) {
    .img-container {
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 1440px) {
    .bio {
        font-size: large;
    }
}