@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.page-container {
    position: relative;
    min-height: 100vh;
    font-family: 'Oswald', sans-serif;
}
.page-container h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}
.content {
    padding: 1rem 0 100px 0;
}